# .gitignore - Patterns describing what Git should ignore.

# General
## Ignore all dotfiles...
.*
## ...except dotfiles starting with .git
!.git*

# Binaries
*.class
*.jar
!lib/*.jar
*.war
*.ear

# Maven
target/

# Eclipse
bin/**
tmp/**
tmp/**/*
!.project
!.classpath
!.settings
*.tmp
*.bak
*.swp
*~.nib
local.properties
*.launch

# Editors
*~
\#*\#
auto-save-list
tramp

# KDE
*.un~
Session.vim

# Windows
Thumbs.db 
Desktop.ini
